*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
.kotlin/metadata/kotlinTransformedMetadataLibraries/app.cash.sqldelight-native-driver-2.0.2-appleMain-QI0cyg.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/app.cash.sqldelight-native-driver-2.0.2-nativeLinuxLikeMain-M82cPw.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/app.cash.sqldelight-native-driver-2.0.2-nativeMain-M82cPw.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/app.cash.sqldelight-runtime-2.0.2-commonMain-asQ-DQ.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/app.cash.sqldelight-runtime-2.0.2-nativeMain-asQ-DQ.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/co.touchlab-sqliter-driver-1.0.10-appleMain-FvcGuA.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/co.touchlab-sqliter-driver-1.0.10-nativeCommonMain-On1ODg.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/co.touchlab-sqliter-driver-1.3.1-appleMain-jZj4Kg.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/co.touchlab-sqliter-driver-1.3.1-nativeCommonMain-VZ9feg.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/co.touchlab-stately-common-1.1.10-commonMain-LxFZig.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/co.touchlab-stately-common-1.1.10-nativeCommonMain-LxFZig.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/co.touchlab-stately-concurrency-2.0.7-appleMain-oa7GPg.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/co.touchlab-stately-concurrency-2.0.7-commonMain-t1ZQYw.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/co.touchlab-stately-concurrency-2.0.7-nativeMain-t1ZQYw.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/co.touchlab-stately-strict-2.0.7-commonMain-dKdBGA.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/co.touchlab-stately-strict-2.0.7-nativeMain-dKdBGA.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/com.squareup.sqldelight-native-driver-1.5.3-nativeDarwinMain-WmdBCw.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/com.squareup.sqldelight-native-driver-1.5.3-nativeMain-cFX7Hw.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlin-kotlin-stdlib-2.0.21-commonMain-WPEnbA.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlin-kotlin-test-2.0.21-annotationsCommonMain-NjL0Sw.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlin-kotlin-test-2.0.21-assertionsCommonMain-NjL0Sw.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-datetime-0.6.0-commonMain-v1Leig.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-datetime-0.6.0-darwinMain-O4UcJA.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-datetime-0.6.0-nativeMain-v1Leig.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-datetime-0.6.0-tzdbOnFilesystemMain-v1Leig.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-datetime-0.6.0-tzfileMain-v1Leig.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-serialization-core-1.6.2-commonMain-0z2eOA.klib
.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-serialization-core-1.6.2-nativeMain-0z2eOA.klib
